body{
	background-color: blue;
	width: 100%;
}
.body_container{
	width:60%;
	max-width: 1920px;
	margin-left: 18%;
	margin-right: 18%;
}
.header{
	height: 103px;
	width:100%;
}

.nav_bar{
	/*width:100%;*/
	height:100%; 
	background-color: white;
	list-style-type: none;
	margin: 0px;
	font-size: 1em;
	padding-left: 0px;
}


li.nav_tab{
 width:12%;
 background-color: white;
 border: 1px solid black;
 display: inline-block;
 text-align: center;
 margin: 0px;
 margin-left: -5px;
 background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%)
}

.nav_tab a{
	margin: 0px;
	padding: 0px;
	color: #1c4c73;
	font-weight: 700;

}




